body{
	background-image:url(https://img.freepik.com/free-photo/blurred-view-corridor-with-plants_1203-1080.jpg?w=740&t=st=1668180660~exp=1668181260~hmac=e8d4a15db9a5849091eb9e2f91421c7184a048c48156605b7ce2fe47710d290a);
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}